<div class="p-3">
    <query-builder *ngIf="done" [(ngModel)]='query' (ngModelChange)="pave()" [config]='config'>
        <ng-container *queryInput="let rule; let field=field; let options=options; type: 'category'">
            <select class="select-control" [(ngModel)]="rule.value" [placeholder]="field.label">
                <option *ngFor="let opt of options" [value]="opt.value">
                    {{ opt.label }}
                </option>
            </select>
        </ng-container>
    </query-builder>
</div>