<div class="m-3">
  <input style="display: none;" #fileInput (change)="onFileChange($event)" type="file" name="fileInput" id="fileInput"
  multiple="false">
<button (click)="fileInput.click()" class="btn btn-primary">Select File</button>

<table *ngIf="data" class="table mt-3">
  <thead>
    <tr>
      <th *ngFor="let row of data[0]">{{row}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rows of data | slice:1">
      <th *ngFor="let row of rows">{{row}}</th>
    </tr>
  </tbody>
</table>
</div>